header {
  background-color: pink;
  text-align: center;
}
.column-1 {
  background-color: blue;
}
.column-2 {
  background-color: red;
}
.column-1, .column-2{
  display: inline-block;
  width: 48%;
  overflow: scroll;
  height: 150vh;
  vertical-align: top;
  padding: 1%;
}
footer {
  background: yellow;
  margin-top: 2%;
  text-align: center;
}
