<html>
<head>
  <title>About Student</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>About Student</h1>
  <p>In one paragraph please tell us a little about yourself.</p>
    <form action="/students" method="POST" height="200">
    <input type="text" name="About Yourself" placeholder="About Yourself">
    <button type="submit">Save</button>
  </form>
</body>
</html>
